body{
    background-color: black;

}
#h{
    color: white;
    text-align: center;
    text-decoration:underline;
    text-shadow: -3px -3px 5px gray;
}
#main{
    background-color: white;
    min-height: 20vw;
    max-width: 35vw;
    max-height: 40vw;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
    margin-left:30%;
    margin-top: 6%;
    box-shadow: -2px -2px 20px 3px gray;
}
#enter_text{
    height: 1.5vw;
    width:84%;
   border:2px solid black;
   border-radius: 3px;
}
#input_containt{
    width: 82%;
    margin-left:9%;
    margin-top: 4%;
margin-right:9%;
display: flex;
flex-flow: row;
}
.add{
height:2vw;
border-radius: 10px;
background-color: rgba(242, 83, 39, 0.934);
margin-left: 3%;
font-size:15px;
}
#text_entry_display{
width: 89%;
margin:2vw;
overflow-y:scroll;
border:2px solid red;
flex-grow: 1;
border-radius: 5px;
background-color: aliceblue;
}
@media screen and (max-width:1000px) {
    .add{
        font-size:9px;
        font-weight: bold;
    }
}
@media screen and (max-width:600px) {
    .add{
        font-size:5px;
        font-weight: bold;
    }
}