body {
    background-color: black;
    justify-content: center;
}

#h {
    color: white;
    text-align: center;
    text-decoration: underline;
    text-shadow: -3px -3px 5px gray;
}

#main {
    background-color: white;
    min-height: 20vw;
    max-width: 35vw;
    max-height: 40vw;
    width:50vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 6%;
    box-shadow: -2px -2px 20px 3px gray;
}

#enter_text {
    height: 1.5vw;
    width: 84%;
    border: 2px solid black;
    border-radius: 3px;
}

.input_containt {
    width: 87%;
    margin-left: 9%;
    margin-top: 4%;
    margin-right: 9%;
    display: flex;
    flex-flow: row;
}

.add {
    height: 2vw;
    border-radius: 10px;
    background-color: rgba(242, 83, 39, 0.934);
    margin-left: 3%;
    font-size: 15px;
}

#text_entry_display {
    width: 93.25%;
    margin: 1vw 1vw 1vw 1vw;
    overflow-y: scroll;
    border: 2px solid red;
    flex-grow: 1;
    border-radius: 5px;
    background-color: aliceblue;
}

#input_containt_mobile {
    display: none;
}

@media screen and (max-width:1000px) {
    .add {
        font-size: 9px;
        font-weight: bold;
        height: 4vw;
        width: 15vw;
    }

    #input_containt_web {
        display: none;
        margin: 0% 6% 3% 7%;
    }

    #input_containt_mobile {
        display: flex;
        margin: 1% 6% 2% 7%;
    }
    #main{
        min-height: 686px;
        width: 80%;
        max-width: 100%;
        margin: 0% 0% 0% 9%;
    }
    #enter_text{
        height: 3.5vw;
    }
    #text_entry_display {

        margin: 1vw 2.5vw 1vw 2.5vw;
    }
}

@media screen and (max-width:600px) {
    .add {
        font-size: 5px;
        font-weight: bold;
        height: 6vw;
        width: 15vw;
    }

    #input_containt_web {
        display: none;
        margin: 0% 6% 3% 7%;
    }

    #input_containt_mobile {
        display: flex;
        margin: 0% 0% 3% 7%;
    }
    #main{
        max-height: 686px;
        max-width: 100%;
        margin: 0% 6% 0% 9%;
    }
    #enter_text{
        height: 3.5vw;
    }
    #text_entry_display {

        margin: 1vw 2.5vw 1vw 2.5vw;
    }
}